body {
    padding: 0;
    margin: 0;
    font-family: Helvetica;
}

/*================ HEADER ================*/

#header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 500;
    width: 100%;
    height: 150px;
}

#header img {
    display: block;
    margin: auto;
    height: 100%;
    width: 100%;
}

/*================ TOP-TABS ================*/

#tabs-top {
    position: fixed;
    top: 150px;
    left: 0;
    z-index: 500;
    width: 100%;
    height: 40px;
    background-color: rgb(100, 0, 83);
}

#tabs-top a {
    float: left;
    display: block;
    width: 33%;
    height: 35px;
    font-weight: 700;
    color: white;
    text-align: center;
    text-decoration: none;
    padding-top: 12px;
}

/*================ BOTTOM-TABS ================*/

#tabs-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 500;
    width: 100%;
    height: 40px;
    background-color: rgb(100, 0, 83);
}

#tabs-bottom a {
    float: left;
    display: block;
    width: 33%;
    height: 35px;
    font-weight: 700;
    color: white;
    text-align: center;
    text-decoration: none;
    padding-top: 12px;
}

/*================ MAIN-MAP ================*/

#main-map {
    margin-top: 190px;
}

/*================ MAIN ================*/

#main {
    margin-top: 189px;
    background: url('images/blur.png');
    background-size: cover;
}

#content {
    padding-top: 1px;
    padding-bottom: 100px;
}

/*================ INFO BOX ================*/

a.info-box {
    text-decoration: none;
    background: rgba(138, 119, 157, 0.552);
    width: 90%;
    height: 90px;
    display: block;
    margin: auto;
    margin-top: 12px;
    padding: 1px;
}

.info-box img {
    height: 70px;
    margin: 10px;
    float: left;
}

.info-box h3 {
    padding: 0;
    margin-bottom: 0;
    width: 90%;
    color: #55024e;
}

.info-box p {
    margin: 0;
    padding: 0;
    width: 90%;
    color: #280247;
}

.info-box img.right {
    float: right;
    margin-top: 25px;
    height: 40px;
}