body {
    padding: 0;
    margin: 0;
    font-family: Helvetica;
}

/*================ HEADER ================*/

#header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 500;
    width: 100%;
    height: 150px;
}

#header img {
    display: block;
    margin: auto;
    height: 100%;
    width: 100%;
}

/*================ TOP-TABS ================*/

#tabs-top {
    position: fixed;
    top: 150px;
    left: 0;
    z-index: 500;
    width: 100%;
    height: 40px;
    background-color: rgb(100, 0, 83);
}

#tabs-top a {
    float: left;
    display: block;
    width: 33%;
    height: 35px;
    font-weight: 700;
    color: white;
    text-align: center;
    text-decoration: none;
    padding-top: 12px;
}

/*================ BOTTOM-TABS ================*/

#tabs-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 500;
    width: 100%;
    height: 40px;
    background-color: rgb(100, 0, 83);
}

#tabs-bottom a {
    float: left;
    display: block;
    width: 33%;
    height: 35px;
    font-weight: 700;
    color: white;
    text-align: center;
    text-decoration: none;
    padding-top: 12px;
}